__pycache__/
.*
*.pid
*.xml
*.csr
*.crt
*.key
*.sh
*.json
*.conf
*.db-journal
*.bak
*.off
*.html
*.conf
*.token
*.sqlite
*.js
*.ts
*.db
*.db-sha
*.log
*.map
*.lock
*.gz
*.backup
OZW_Log.txt
home-assistant.log
appdaemon.log
home-assistant_v2.db*
pyozw.sqlite
lib
deps
tts
custom_components
scripts
secrets.yaml
!travis_secrets.yaml
known_devices.yaml
WIP*.py
panels
python_scripts/shellies_discovery.py
themes/*/*.*
adb/*
!.gitignore
alexa_media.*
core
image
debug.log
.coud
.storage
/node-red/*
!/www/community
!/www/community/*/*.js
!/www/community/*/*.js.gz
!gitupdate.sh
!.travis.yml